{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user and not is_granted("ROLE_SUBSCRIBER") %}
                <div class="mb-3">
                    <h5 class="text-danger text-center">Vous avez reçu un email de validation de compte à l'adresse
                        email : {{ app.user.email }}</h5>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous inscrire</h1>
            <label for="inputUsername">Nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <button class="btn btn-lg btn-primary"
                    type="submit">
                Connexion
            </button>
            <a class="btn btn-lg btn-primary"
               href="{{ path('app_forgot_password') }}">
                Mot de passe oublié
            </a>
        </form>
    </div>
{% endblock %}
