{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>{{ article.themes.name }} / {{ article.titre }}</h1>

    <table class="table">
        <tbody>

        <tr>
            <th>Contenu</th>
            <td>{{ article.contenu }}</td>
        </tr>
        <tr>
            <th>Sujet ouvert par</th>
            <td>{{ article.auteur }}</td>
        </tr>
        <tr>
            <th>Sujet crée le</th>
            <td>{{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}  à  {{ article.createdAt ? article.createdAt|date('H:i') : '' }}</td>
        </tr>
        <tr>
            {# {% if (article.commentaires.count > 0) %} #}
            {# <th>Dernier commentaire</th> #}
            {# <td> {{ article.commentaires|last.createdAt|date('Y-m-d H:i:s') }} <br> #}
            {# {{ article.commentaires|last.auteur.username }} #}
            {# </td> #}
            {# {% endif %} #}
        </tr>
        </tbody>
    </table>
    <div class="container-fluid">

        <h2>Commentaires</h2>

        {% if (article.commentaires.count > 0) %}
{#            <div class="row">#}
{#                {{ dump(article.commentaires) }}#}
{#                {% for commmentaire in article.commentaires|sort((a,b)=> a.createdAt <=> b.createdAt) %}#}

{#                        <div class="card col-12 m-3" style="width: 18rem;">#}
{#                            <div class="card-header">#}
{#                                {{ commmentaire.auteur }} dit :#}
{#                            </div>#}
{#                            <ul class="list-group list-group-flush">#}
{#                                <li class="list-group-item">{{ commmentaire.contenu }}</li>#}
{#                            </ul>#}
{#                            <div class="card-footer">#}
{#                                {{ commmentaire.createdAt|date('Y-m-d H:i:s') }}#}
{#                            </div>#}
{#                        </div>#}


{#                {% endfor %}#}
                {{ include('articles/articleComments.html.twig') }}
            </div>
        {% endif %}
    </div>

{#    {% if is_granted('ROLE_SUBSCRIBER') %}#}
        <div>
            <a href="{{ path('commentaires_new',{'article': article.id, article: article.id}) }}">Participer à la
                conversation</a>
        </div>
    {% else %}
        <div>
            <a href="{{ path('app_login') }}">Vous devez vous connecter avec un compte validé pour pouvoir participer à la conversation</a>
        </div>
    {% endif %}
    <a href="{{ path('articles_index') }}">Retour à la liste des articles</a>

    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('articles_edit', {'id': article.id}) }}">edit</a>
        </div>
        {{ include('articles/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
