<h1>Un utilisateur Lesmotardsdetaregion est intéréssé par votre annonce</h1>
<p>Votre annonce concernant la pièce detachée {{ piecedetachee.marque.name }} {{ piecedetachee.model }} {{ piecedetachee.formattedprice }}</p>
<p>intéresse l'utilisateur : {{ user.username }}.</p>
<p>Vous pouvez lui repondre à l'adresse {{ user.email }}</p>
<p>Il vous adresse le message suivant :</p>
<p> {{ message.message }}</p>
