<h1>Un utilisateur Lesmotardsdetaregion est intéréssé par votre annonce</h1>
<p>Votre annonce concernant la moto {{ moto.marque.name }} {{ moto.model }} {{ moto.formattedprice }}</p>
<p>Intérresse l'acheteur {{ user.username }}</p>
<p>Vous pouvez lui repondre à l'adresse {{ user.email }}</p>
<p>Il vous adresse le message suivant :</p>
<p> {{ message.message }}</p>
