<div class="form-group">
    {{ form_start(form) }}

    {{ form_widget(form) }}

    {% if app.request.attributes.get('_route') == 'moto_edit' %}
        <div class="row">
            <h2 class="col-12">Images</h2>
            {% for image in moto.images %}
                <div class="mx-2">

                    <img class="pb-2" src="{{ asset('/uploads/' ~ image.name) }}" alt="Image" width="150">
                    <div>
                        <a href="{{ path('moto_delete_image', {'id' : image.id}) }}"
                           data-delete
                           data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer la photo</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>
