{% extends 'base.html.twig' %}

{% block title %}Modifier annonce moto{% endblock %}

{% block body %}
    <h1>Modifier annonce moto</h1>
    <a class="btn btn-dark my-3" href="{{ path('moto_show', {'id': moto.id}) }}">Voir l'annonce.</a>
    <a class="btn btn-dark m-3" href="{{ path('moto_index') }}">Retourner à la liste des motos d'occasions.</a>
    <div>
        <div class="">  {{ include('moto/_form.html.twig', {'button_label': "Mettre l'annonce à jour."}) }}</div>
         <div> {{ include('moto/_delete_form.html.twig') }} </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"
            integrity="sha512-7o2DtaB6EuAwjOyn86v4QEHQFNBXJ0jsln5kr3mvbxI7bCM1z1potVUcwoBCt4KNAQhw7VSmnIDp6EOhxNIzzw=="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
