{% extends 'base.html.twig' %}

{% block title %}Motos occasion{% endblock %}
{% block body %}
    <h1>Moto occasion</h1>
    <div class="row">
        {% for moto in motos %}
            {% set vendeur = ((app.user == moto.vendeur) or (is_granted("ROLE_ADMIN"))) %}
            <div class="col-4">
                <div class="card mb-4">
                    {% if moto.images is not empty %}
                        <div>
                            <img class="card-img img-moto"
                                 src="{{ asset('/uploads/' ~ moto.images|first.name)| imagine_filter('thumb') }}"
                                 alt="Image">
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            {{ moto.marque.name }} - {{ moto.model }} - {{ moto.year }}
                        </h5>
                        <p class="card-text text-center">{{ moto.FormattedPrice }}</p>
                        <p>Vendeur : {{ moto.vendeur.username }} </p>
                        <div class=" {{ vendeur ? " row " : " card-text " }}    text-center">
                            <a class="{{ vendeur ? " " : "card-text text-center " }}col-6 "
                               href="{{ path('moto_show', {'id': moto.id}) }}">Voir l'annonce.</a>
                            {% if vendeur %}
                                <a class="col-6" href="{{ path('moto_edit', {'id': moto.id}) }}">Modifier l'annonce</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(motos) }}
    </div>
{% endblock %}
