{% extends 'base.html.twig' %}

{% block title %}Modifier une annonce Piece détachée{% endblock %}

{% block body %}
    <h1>Modifier une annonce Piece détachée</h1>
    <div class="mb-3">
        <a class="btn btn-dark " href="{{ path('piecedetachee_show', {'id': piecedetachee.id}) }}">Voir l'annonce.</a>
        <a class="btn btn-dark mx-3" href="{{ path('piecedetachee_index') }}">Retourner à la liste des piéces d'étachée.</a>
    </div>
    <div class="text-left">
        <div>  {{ include('piecedetachee/_form.html.twig', {'button_label': "Mettre l'annonce à jour."}) }} </div>
        <div>  {{ include('piecedetachee/_delete_form.html.twig', {'button_label': "Supprimer l'annonce."} ) }} </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
