{% extends 'base.html.twig' %}

{% block title %}Piece d'étachée{% endblock %}

{% block body %}
    {% set vendeuroradmin = ((app.user == piecedetachee.vendeur) or (is_granted("ROLE_ADMIN"))) %}
    <div class="jumbotron px-5 pt-3">
        <div class="container">
            <h1 class="text-center">{{ piecedetachee.marque.name }}  {{ piecedetachee.model }}</h1>
            <div class="rown justify-content-center">
                <div class="col-12 text-center">
                    <div class="">
                        {% if piecedetachee.images %}
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for image in piecedetachee.images %}
                                        <div class="carousel-item {{ loop.first ? 'active' : ' ' }}">
                                            <img class="d-block w-75 m-auto"
                                                 src="{{ asset('/uploads/' ~ image.name)| imagine_filter('thumb') }}"
                                                 alt="Image">
                                        </div>
                                    {% endfor %}
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <h2 class="text-center"></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <tr>
                    <td>Piece</td>
                    <td>{{ piecedetachee.name }}</td>
                </tr>
                <tr>
                    <td>Marque de moto</td>
                    <td>{{ piecedetachee.marque.name }}</td>
                </tr>
                <tr>
                    <td>Model de moto</td>
                    <td>{{ piecedetachee.model }} cc</td>
                </tr>
                <tr>
                    <td>description</td>
                    <td>{{ piecedetachee.description }}</td>
                </tr>
                <tr>
                    <td>Prix</td>
                    <td>{{ piecedetachee.formattedPrice }}</td>
                </tr>
                <tr>
                    <td>Vendeur</td>
                    <td>{{ piecedetachee.vendeur.username}}</td>
                </tr>
            </table>
        </div>
    </div>

    {% if  is_granted("ROLE_SUBSCRIBER")%}
    {% if ( piecedetachee.vendeur != app.user ) %}
        <a href="{{ path('contact_vendeur',{'piece': piecedetachee.id}) }}" class="btn btn-primary ">Contacter le vendeur</a>
    {% endif %}
    {% else %}
        <a href="{{ path('app_login') }}">Vous devez valider votre compte pour pouvoir contacter le vendeur</a>
    {% endif %}
    <div class="text-primary pt-0 text-right" style="font-size: 3rem; font-weight: bold">{{ piecedetachee.formattedPrice }}</div>
    <div>
        <a class="btn btn-dark" href="{{ path('piecedetachee_index') }}">Retourner à liste des piece detachees d'occasion</a>
    </div>
    {% if vendeuroradmin %}
        <div class="my-3">
            <a class="btn btn-danger" href="{{ path('piecedetachee_edit', {'id': piecedetachee.id}) }}">Modifier l'annonce</a>
        </div>
    {% endif %}
    </div>
{% endblock %}
