{% extends 'base.html.twig' %}

{% block title %}Editer Utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Editer {{ user.username }}</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
        {{ include('user/locationForm.html.twig',{'button_label': 'enregistrer votre ville'}) }}

        <a class="btn btn-primary my-3" href="{{ path('user_index') }}">Retourner à la liste</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
